<div style="max-height: 600px; overflow-y: auto; margin: 20px">
    @if (ExerciseCategory is StrongExerciseCategory.Dumbbell or StrongExerciseCategory.Barbell or StrongExerciseCategory.MachineOther)
    {
        <h5>Personal records</h5>

        <ul style="padding-left: 0">
            <li style="display: block; padding: 0.25rem;">
                @if (PersonalRecords.OneRM != null)
                {
                    <span class="float-end">@PersonalRecords.OneRM.Weight kg</span>
                }
                <span><strong>1RM</strong></span>
            </li>
            <li style="display: block; padding: 0.25rem;">
                @if (PersonalRecords.Weight != null)
                {
                    <span class="float-end">@PersonalRecords.Weight.Weight kg (x @PersonalRecords.Weight.Reps)</span>
                }
                <span><strong>Weight</strong></span>
            </li>
            <li style="display: block; padding: 0.25rem;">
                @if (PersonalRecords.MaxVolume != null)
                {
                    <span class="float-end">@PersonalRecords.MaxVolume.Weight kg</span>
                }
                <span><strong>Max Volume</strong></span>
            </li>
        </ul>

        <button class="btn btn-secondary btn-sm" @onclick="ViewRecordsHistory" style="width: 100%; margin-bottom: 20px;">View Records History</button>

        <table class="table table-sm">
            <thead>
            <tr>
                <th>Reps</th>
                <th>Best performance</th>
                <th>Predicted</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var predictedPerformance in PersonalRecords.PredictedPerformances)
            {
                <tr>
                    <td>@predictedPerformance.Reps</td>
                    <td>
                        @if (predictedPerformance.BestPerformance != null)
                        {
                            <span>@predictedPerformance.BestPerformance.Weight kg (x @predictedPerformance.BestPerformance.Reps)</span>
                            <br/>
                            <span>@predictedPerformance.BestPerformance.Date.Value.ToShortDateString()</span>
                        }
                    </td>
                    <td>
                        @if (predictedPerformance.Predicted != null)
                        {
                            <span>@predictedPerformance.Predicted kg</span>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>