<div style="max-height: 600px; overflow-y: auto; margin: 20px">
    @if (ExerciseCategory is StrongExerciseCategory.Dumbbell or StrongExerciseCategory.Barbell or StrongExerciseCategory.MachineOther)
    {
        <h5>Weight</h5>

        <ul style="padding-left: 0">
            @foreach (var personalRecord in PersonalRecordsHistory
                .Where(x => x.Type == StrongPersonalRecordType.Weight)
                .OrderByDescending(x => x.Weight))
            {
                <li style="display: block; padding: 0.25rem;">
                    <span class="float-end">@personalRecord.Date.Value.ToShortDateString()</span>
                    <span><strong>@personalRecord.Weight kg (x @personalRecord.Reps)</strong></span>
                </li>
            }
        </ul>

        <h5>1RM</h5>

        <ul style="padding-left: 0">
            @foreach (var personalRecord in PersonalRecordsHistory
                .Where(x => x.Type == StrongPersonalRecordType.OneRM)
                .OrderByDescending(x => x.Weight))
            {
                <li style="display: block; padding: 0.25rem;">
                    <span class="float-end">@personalRecord.Date.Value.ToShortDateString()</span>
                    <span><strong>@personalRecord.Weight kg</strong></span>
                </li>
            }
        </ul>

        <h5>Max Volume</h5>

        <ul style="padding-left: 0">
            @foreach (var personalRecord in PersonalRecordsHistory
               .Where(x => x.Type == StrongPersonalRecordType.MaxVolume)
               .OrderByDescending(x => x.Weight))
            {
                <li style="display: block; padding: 0.25rem;">
                    <span class="float-end">@personalRecord.Date.Value.ToShortDateString()</span>
                    <span><strong>@personalRecord.Weight kg</strong></span>
                </li>
            }
        </ul>
    }
    @if (ExerciseCategory is StrongExerciseCategory.RepsOnly or StrongExerciseCategory.AssistedBodyweight)
    {
        <h5>Max Reps</h5>

        <ul style="padding-left: 0">
            @foreach (var personalRecord in PersonalRecordsHistory
                .Where(x => x.Type == StrongPersonalRecordType.MaxReps)
                .OrderByDescending(x => x.Reps))
            {
                <li style="display: block; padding: 0.25rem;">
                    <span class="float-end">@personalRecord.Date.Value.ToShortDateString()</span>
                    <span><strong>@personalRecord.Reps reps</strong></span>
                </li>
            }
        </ul>
    }
    
    @if (ExerciseCategory is StrongExerciseCategory.WeightedBodyweight)
    {
        <h5>Max Reps</h5>

        <ul style="padding-left: 0">
            @foreach (var personalRecord in PersonalRecordsHistory
           .Where(x => x.Type == StrongPersonalRecordType.MaxReps)
           .OrderByDescending(x => x.Reps))
            {
                <li style="display: block; padding: 0.25rem;">
                    <span class="float-end">@personalRecord.Date.Value.ToShortDateString()</span>
                    <span><strong>@personalRecord.Reps reps</strong></span>
                </li>
            }
        </ul>

        <h5>Max Weight Added</h5>

        <ul style="padding-left: 0">
            @foreach (var personalRecord in PersonalRecordsHistory
                .Where(x => x.Type == StrongPersonalRecordType.MaxWeightAdded)
                .OrderByDescending(x => x.Weight).ThenByDescending(x => x.Reps))
            {
                <li style="display: block; padding: 0.25rem;">
                    <span class="float-end">@personalRecord.Date.Value.ToShortDateString()</span>
                    <span>
                        @if (personalRecord.Weight == 0)
                        {
                            <strong>@personalRecord.Reps reps</strong>
                        }
                        else
                        {
                            <strong>+@personalRecord.Weight kg x @personalRecord.Reps</strong>
                        }
                    </span>
                </li>
            }
        </ul>

        <h5>Max Volume Added</h5>

        <ul style="padding-left: 0">
            @foreach (var personalRecord in PersonalRecordsHistory
                .Where(x => x.Type == StrongPersonalRecordType.MaxVolumeAdded)
                .OrderByDescending(x => x.Weight))
            {
                <li style="display: block; padding: 0.25rem;">
                    <span class="float-end">@personalRecord.Date.Value.ToShortDateString()</span>
                    <span><strong>@personalRecord.Weight kg</strong></span>
                </li>
            }
        </ul>
    }
</div>