<Card Title="@Workout.WorkoutName" SubTitle="@Workout.Date.ToLongDateString()" 
      EditUrl="@($"/workouts/edit/{Workout.Id}")" OnRemove="RemoveWorkout">
    <p><i class="fas fa-weight-hanging"></i> @Workout.GetVolume() kg &nbsp; &nbsp; <i class="fas fa-medal"></i> @Workout.GetNumberOfPrs()</p>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Best Set</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in Workout.ExerciseData)
            {
                <tr>
                    <td>@exercise.Sets.Count x @exercise.ExerciseName</td>
                    <td>
                        <FormatBestSet Exercise="exercise" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</Card>
