@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<Card Title="@Workout.WorkoutName" SubTitle="@Workout.Date.ToLongDateString()" 
      EditUrl="@($"/workouts/edit/{Workout.Id}")" OnRemove="RemoveWorkout">
    <p><i class="fas fa-weight-hanging"></i> @Workout.Volume kg &nbsp; &nbsp; <i class="fas fa-medal"></i> @Workout.NumberOfPersonalRecords</p>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>Exercise</th>
                <th>Best Set</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in Workout.ExerciseData)
            {
                <tr>
                    <td>@exercise.NumberOfSets x @exercise.ExerciseName</td>
                    <td>
                        <FormatSet Set="exercise.BestSet" Category="Exercises.Find(x => x.ExerciseName == exercise.ExerciseName).Category" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</Card>
